<html>
    <head>
        <link href = assets/style.css type = text/css rel = stylesheet />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
       <h1> hello, earthlings</h1>
       <form method= "post" action="/person">
           firstname: <input type="text" id = "firstname" name = "first"><br>
           lastname: <input type="text" id = "lastname" name = "last"> <br>
           <input type="submit" value = "submit">
       </form>
       <script>
           $.ajax({
               type:"POST",
               url: "/personjson",
               data: JSON.stringify({first : "arya", last: "stark"}),
               dataType: 'json',
               contentType: 'application/json'
           });
       </script>
    </body>
</html>